button {
  cursor : pointer;
  outline: 0;
}

header {
  color : white;
  text-align: center;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.mat-sidenav {
width: 250px;
padding-left: 13px;
background-color: rgba(255, 250, 250, 0.692);
border-width:0.5px;
}

.leftsidenav {
  width: 37%;
  padding-top: 100px;
  position: fixed;
}

.rightsidenav {
  width: 22%;
  padding-top: 100px;
  position: fixed;
}

.mat-sidenav-content {
  padding-top: 100px;
  height:100%;
  overflow: hidden;
}

.mat-button {
  color: white;
  background-color : var(--background-color);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: lighter;
  font-style: lighter;
  font-size: 25px;
  display: inline-block;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.main-container {
  height: 100%;
  background-color: white;
}

.sidemenu {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  background-color: transparent;
  color: rgba(41, 37, 37, 0.767);
}

.sidemenu:hover {
  background-color: white;
}

.fas {
  margin-right: 12px;
}

.far {
  margin-right: 12px;
}

.main-content {
  margin-bottom: 100px;
}

