<h6>En retard</h6>
<div *ngFor="let tache of taches">

  <div>

      <app-tache [tache]="tache" *ngIf= "tache.statut === 'En retard'" ></app-tache>
      
    </div>
  </div>
<div *ngFor="let date of dates">
  <h6>{{date.date | date: 'EEEE d MMMM yyyy'}}</h6>
  <div *ngFor="let tache of taches">
      <div>
          <app-tache [tache]="tache" *ngIf="(tache.date === date.date) &&(tache.statut != 'En retard') " ></app-tache>
          
      </div>
     

</div>
  <button>Ajout tache</button>
</div>
  
  




<div>
  <!-- ajouter <app-ajout-tache>-->
</div>
