

<h4>{{ titre }}</h4>

<div *ngIf="taches.length == 0">
    <h6 class="centré">
        Vous n'avez encore planifié aucune tâche. Il est temps de se réveiller !
    </h6>
    <img src="../../assets/Sloth-Vector.jpg"
        height="300px"
        width="550px" />

    <div class="centré">
        <button mat-button>
            Ajouter une tâche
        </button>
    </div>
</div>


<div *ngIf="taches.length > 0">

  <h6 class="enretard">
    En retard :
  </h6>

  <div class="blocTaches">
    <div *ngFor="let tache of taches">
          <app-tache [tache]="tache" *ngIf= "tache.statut === 'En retard'"></app-tache>
    </div>
  </div>



<div *ngFor="let date of dates">
  <h6>{{date | date   : 'EEEE d MMMM yyyy' : undefined : 'fr'  }}</h6>
  <div *ngFor="let tache of taches">
      <div>
          <app-tache [tache]="tache" *ngIf="(tache.date === date) &&(tache.statut != 'En retard') " ></app-tache>

      </div>


</div>
  <button>Ajout tache</button>
</div>

</div>







