button {
  outline: 0;
  margin-bottom: 30px;
  width: 100%;
}


.main-text {
  margin-bottom: 20px;
}

.valider {
  display: block;
  font-size: 15px;
  float: center;
  margin-left: auto;
  margin-right: auto ;
  padding: 5px 5px;
  color: white;
  background-color : var(--background-color);
  width: 50%;
  border-radius: 10px;
}

h6 {
  margin-bottom: 25px;
  text-align: center;
}
