button {
  outline: 0;
  width: 100%;
}

.valider {
  display: block;
  font-size: 15px;
  float: center;
  margin-left: auto;
  margin-right: auto ;
  padding: 5px 5px;
  color: white;
  background-color : var(--background-color);
  width: 50%;
  border-radius: 10px;
}

h6 {
  margin-bottom: 60x;
  text-align: center;
}
