// --------------------------------------------------- //
// Buttons :

button {
  cursor : pointer;
  outline: 0;
  font-size:20px;
}

.orangeButton:hover {
  background-color: rgba(255, 144, 40, 0.75);
  color: white
}

.purpleButton:hover {
  background-color: rgba(133, 45, 74, 0.75);
  color: white
}

.greenButton:hover {
  background-color: rgba(24, 108, 114, 0.75);
  color: white
}

// --------------------------------------------------- //
// Icons :

.fas {
  margin-right: 10px;
}

.fab {
  margin-top:10px;
}

// --------------------------------------------------- //
// Toolbar :

.mat-toolbar {
  background-color: var(--background-color);
  position: fixed;
  z-index: 999;
}

.mat-toolbar-row {
  font-size: 14px;
}

.toolbarmenu {
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.mat-menu-item {
  color: rgb(87, 82, 82);
  font-size: 13px;
  width: 180px;
}

// --------------------------------------------------- //
// Others :

.mat-form-field {
  font-size: 12px;
  color: rgba(252, 252, 252, 0.74);;
}

.input {
  max-height: 10px;
}

.title {
  font-size: 18px;
  font-weight: 800;
  margin-left:20px;
}
