<div>
  <div class="sidemenu no-hover-effect" (click)="toggleProjects()">
      <i *ngIf="doIshowProjects" class="fas fa-angle-down"></i>
      <i *ngIf="!doIshowProjects" class="fas fa-angle-right"></i>
      <span>Mes projets</span>
  </div>
</div>

<div *ngIf="doIshowProjects">
<div *ngFor="let projet of projets" fxLayout="row">
   <div fxFlex="100%">
      <button mat-button [routerLink]="['projet', projet.id,'titre', projet.titre]" [hidden]="projet.isUpdating" [disableRipple]="true" class="projets no-hover-effect">
          <span>{{ projet.titre }}</span>
      </button>
      <app-ajout-projet [projet]="projet" 
      [hidden]="!projet.isUpdating"
      [params]="{ titreComp : 'Modifier ce projet',
                  placeHolder : projet.titre ,
                  update: true ,
                  step : 0 } ">
    </app-ajout-projet>
  </div>
   <div fxFlex>
     <button mat-icon-button [matMenuTriggerFor]="menu" class="bouton-menu" [disableRipple]="true"><i class="fas fa-ellipsis-h"></i></button>
  </div>
  

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showUpdate(projet)">
                <mat-icon>create</mat-icon>
                <span>Modifier</span>
                <!-- ajouter (click)= update()-->
              </button>
              <button mat-menu-item (click)="openDialogueDelete(projet)">
                <mat-icon>delete</mat-icon>
                <span>Supprimer</span>
                <!-- ajouter (click)=delete()-->
              </button>
              <button mat-menu-item>
                <mat-icon>person_add</mat-icon>
                <span>Partager</span>
              </button>
            </mat-menu>

</div>
<mat-divider></mat-divider>
<button type="button" class="btn btn-light ajoutProjet" (click) ="toggle()"><i class="fas fa-plus"></i>Ajouter un projet</button>
<app-ajout-projet *ngIf="doIshow" [params]="{ titreComp: 'Ajouter un projet',
                                              placeHolder: 'nom du projet',
                                              update: false,
                                              step : 1 } "
                                               ></app-ajout-projet>

</div>


