<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div>
        <mat-panel-description>
          <mat-icon></mat-icon>
        </mat-panel-description>
      </div>
      <div>
        <mat-panel-title>
          Projets
        </mat-panel-title>
      </div>
    </mat-expansion-panel-header>
    <div *ngFor="let projet of projets">



        <button mat-button [routerLink]="['projet', projet.id,'titre', projet.titre]">{{projet.titre}} <mat-icon class="essai">lens</mat-icon></button>


            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>create</mat-icon>
                <span>Modifier</span>
                <!-- ajouter (click)= update()-->
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Supprimer</span>
                <!-- ajouter (click)=delete()-->
              </button>
              <button mat-menu-item>
                <mat-icon>person_add</mat-icon>
                <span>Partager</span>
              </button>
            </mat-menu>
          </div>

    <app-ajout-projet></app-ajout-projet>
  </mat-expansion-panel>
</mat-accordion>
