
<div>
<div fxLayout="row">

<div fxFlex="60%">
      <mat-radio-button [disableRipple]="true" class="radio-button" (click)= changeStatutEffectuee(tache) >
        {{tache.titre}}
      </mat-radio-button>
    </div>
    <div fxFlex>
      <button mat-flat-button>{{tache.date | date: 'dd-MM-yyyy'}}</button>
      <button mat-flat-button [routerLink]="['../projet', tache.projet.id,'titre', tache.projet.titre]" class="titreProjet">{{tache.projet.titre}}<i class="fas fa-circle-notch"></i></button>
    </div>


    <div fxFlex=10%>
      <button mat-icon-button  [matMenuTriggerFor]="menu" class="bouton-menu" [disableRipple]="true"><i class="fas fa-ellipsis-h"></i></button>
   </div>


             <mat-menu #menu="matMenu">
               <button mat-menu-item (click)="showUpdate(tache)">
                 <mat-icon>create</mat-icon>
                 <span>Modifier</span>

               </button>
               <button mat-menu-item (click)="openDialogueDelete(tache)">
                 <mat-icon>delete</mat-icon>
                 <span>Supprimer</span>

               </button>

             </mat-menu>
</div>
</div>
<app-adding-task-outside-dialog [params]="{ update: true,
                                            placeholder: tache.titre,
                                            date: tache.date,
                                            projet: tache.projet.titre,
                                            priorite: tache.priorite
                                           }" [tache]="tache" [hidden]="!tache.isUpdating"></app-adding-task-outside-dialog>
<mat-divider></mat-divider>

