mat-radio-button {
  font-size: 13px;
  display: inline-flex;
  flex-direction: column;
  padding-top:7px;
  padding-left: 20px;
  width:50%;
}

mat-divider {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  font-size: 13px;
  outline: none;
}

.fa-circle-notch {
  margin-left: 8px;
}

.titreProjet {
  color: grey;
  font-size: 12px;
  text-align: left;
}

.titre{
    overflow: hidden;
}

.fas {
  margin-right: 12px;
}


