button {
  display: block;
  outline: 0;
  margin-bottom: 30px;
  width: 100%;
}

.cancel {
  float:right;
  width: 5%;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

.valider {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto ;
  color: black;
  background-color : rgba(228, 223, 222, 0.795);
  width: 100%;
  border-radius: 10px;
  padding-left: -10px;
  padding-right: -10px;
}

.annuler {
  font-size: 20px;
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto ;
  color: white;
  background-color : rgba(223, 72, 35, 0.945);
  width: 100%;
  padding-top:5px;
  padding-bottom: 5px;
}

form {
  width: 100%
}

.mat-form-field {
  width: 100%;
  margin-bottom: 5px;
}

.mat-card {
  margin-bottom: 30px;
  font-size: 14px;
  text-align: justify;
}

h6 {
  margin-bottom: 25px;
  text-align: center;
}
