.mat-form-field{
width: 90%;}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  
    width: 90%;}

.mat-raised-button{
        line-height: 60px
    }