.ajoutTache {
  font-size: 14px;
  width: 180px;
  text-align: left;
  outline: none;
  background-color: transparent;
  color: rgba(41, 37, 37, 0.767);
  outline: none;
  border: none;
  margin-top:10px;
  margin-left: 20px;
}

.fas {
  margin-right: 12px;
}

h4 {
  font-weight: lighter;
  padding-left: 20px;
  margin-bottom: 20px;
  }
