.card {
  font-size: 12px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top:20px;
  border-width: 0.5px;
  border-radius: 10px;
  padding-bottom:-30px;
}

.mat-form-field{
  width: 90%;
}

.ajoutTache {
   color: white;
  background-color : var(--background-color);
  outline: none;
  margin-top: 20px;
 }

.cancel {
  float:right;
  outline: none;
  color: grey;
  margin-right: 25px;
  margin-top: 5px;
}


