<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header >
      <div>
        <mat-panel-description>
        <mat-icon>add</mat-icon>
      </mat-panel-description>
    </div>
    <div>
      <mat-panel-title>
        Ajouter un projet
      </mat-panel-title>
    </div>
    </mat-expansion-panel-header>
<form [formGroup]="projetForm">
<mat-form-field>
  <input matInput placeholder="Input" [formControl]="titreSaisi" required>
</mat-form-field>
<button mat-button (click)="nextStep()" (click)="save()">Valider</button>
<button mat-button (click)="nextStep()">Annuler</button>
</form>

</mat-expansion-panel>

</mat-accordion>






